.plante-liste {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.plante-conteneur {
    flex: 0 1 calc(23% - 20px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
}

.plante-conteneur:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.plante-nom {
    font-size: 18px;
    margin: 10px 0;
}

.plante-description,
.plante-variete {
    font-size: 14px;
}

.plante-photo {
    width: 20%;
    max-height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .plante-conteneur {
        flex: 0 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .plante-conteneur {
        flex: 0 1 calc(100% - 20px);
    }
}